:root{
    --color-brend: #4D5AE5;
    --color-brend2: #2E2F42;
    --color-button: #E7E9FC;
    --color-extrainfo: #434455;
    --color-second-white:#F4F4FD;
}
*{
    margin: 0;
    padding: 0
    ;
}
body{
    background: white;
}
.logo1{
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-brend);

}
.information{
    margin-top: 8px;
}
.conteiner{
    margin: 0 auto;
    width: 1440px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}
.button:nth-child(-n + 4){
    margin-right:24px;
}
.body-nav{
    display: flex;

}
.menu-nav{
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}
.nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        margin: 24px 77px 24px 156px;
}
.second-nav{
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        align-items: center;
        margin-right: 156px;
}
.mail{
    display: flex;
    margin-right: 20px;
  
}
.phone{
    display: flex;
        margin-left: 20px;
      
}

.logo2{
    color:var(--color-brend2);
}
.hero-section{
    display: flex;
    background: var(--color-brend2);
    height: 603px;
    justify-content: center;
    align-items: center;
   
}
.hero-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 496px;
}
.our-team{
    align-items: center;
    height: 732px;
    background: #F4F4FD;
}
.sub-hero{
   padding-top: 120px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;


    letter-spacing: 0.02em;

    color: var(--color-brend2);
}

.hero{
    margin-top: 0;
 margin-bottom: 48px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;

}
.block-features{
    margin: 120px 156px;
    display: flex;
}

.block:nth-child(-n + 3){
    margin-right: 40px;
}
.features{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.title{
    line-height: 24px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.02em;

        color: var(--color-brend2);
}
.information{
    letter-spacing: 0.02em;
    color: var(--color-extrainfo);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
}
.menu-nav,
.second-nav,
.body-nav,
.list-project,
.features,
.description-list{
    list-style:none;
}
.link,
.phone,
.button,
.project,
.sub-info,
.foot-text,
.information{
    font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
}
.link:focus,
.mail:focus,
.phone:focus{
    color: var(--color-brend);
}
.link{
    text-decoration: none;
        font-weight: 600;
    color: var(--color-brend2);

}
.mail,
.phone{
    text-decoration: none;
    color: var(--color-extrainfo);
}

.button{
    box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        
        background: #F4F4FD;
    
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        
        font-weight: 600;
        color: var(--color-brend);
        background-color: var(--color-button);
        cursor: pointer;
}
.button:hover,
button:focus{
    color: #FFFFFF;
    background-color: var(--color-brend);
}
.order-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;

    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

}
.order-button:hover{
    background: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;
}
.order-button:focus{
    background: #404BBF;
}
.list-block{
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-project{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 1128px;
}
.portfolio-project{
   
    justify-content: center;
        display: inline-block;
        text-align: center;
    width: 360px;
}
.portfolio-text{
    padding-left: 16px;
    padding-top: 32px;
        padding-bottom: 32px;
    text-align: start;
}
.project:nth-child(-n + 5){
    margin-bottom: 48px;
}
.project{    
    background: #FFFFFF;
    
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    font-family: 'Roboto';
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--color-brend2);
}
.sub-info{
    margin-top: 8px;
    color: var(--color-extrainfo);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
.name-team{
    text-align: center;
    padding: 32px 16px 32px 16px;
}
.description-list{
    margin: 72px 156px 120px 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: var(--color-brend2);
}
.logo2-1{
 color:var(--color-second-white)
}
.foot-text{
    color: var(--color-button);
}
.footer-logo{
    margin-left: 156px;

    width: 264px;
}
.footer{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 310px;
}